.card {
    padding: 30px 0;
}
.responsive-img{
    margin: 10px 20px 10px 0;
}
a {
    color: white;
}
a:hover{
    text-decoration: none;
    color: white;
}
h1 a:active {
    color: black;
}
h1 {
    font-size: 80px;
    font-weight: bolder;
}
.card-wrapper{
    padding: 40px;
    margin-top: -130px;
}
.body-wrapper{
    padding: 40px 50px 20px 50px;
    margin-top: -150px;
}
.header-wrapper{
    padding: 70px 55px 150px 55px;
}
.footer-wrapper{
    padding: 0 55px 20px 55px;
}
.header-bg{
    background-color: #ffb700;
    margin: 0;
}
.h1-color{
    background-color: black;
}
.spacing {
    letter-spacing: .1em;
    font-weight: bold;
}
li a {
    color: black;
}
li a:hover{
    color: black;
    text-decoration: underline;
}
.collection{
    border-radius: 7px;
}